/* Center align the title */
.title-panel {
  text-align: center;
  background-color: rgba(80, 80, 80, 150);
}

.csv-data-div {
  background-color: rgba(80, 80, 80, 150);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  margin-top: 0.8rem;
}

.metric-group-div{
  background-color: rgba(80, 80, 80, 150);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.sidebar {
  height: 100vh;
  margin-top: 20px;
  padding: 2rem;
  background-color: rgba(50, 50, 50, 100);
}

.content {
  float: right; /* Adjust the content width as needed */
}

.button {
  width: 100%;
  border-color: rgba(0, 0, 0, 80);
  background-color: rgba(80, 80, 80, 150);
}

.button-div {
  margin: 0.1rem;
}